.background{
    background-image: url("https://thumbs.dreamstime.com/b/reloj-de-arena-en-la-playa-al-atardecer-simbolizando-el-tiempo-y-tranquilidad-355312139.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

};